body {
    background-color: #bebebe;
}

/* Стили для header и навигации */
/*header {
    background: linear-gradient(to bottom, #ff6b6b, #56ab2f);
    color: #fff;
    text-align: center;
    padding: 10px;
    transform: skewY(0deg); /* Эффект наклона 
    
  }
  
  nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin: 0 20px;
    transform: skewY(10deg); /* Эффект наклона 
  }
  
  nav a {
    color: #3b3b3b;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
    font-weight: bold;
  }
  
  nav a:hover {
    transform: scale(1.1); /* Эффект масштабирования при наведении 
    color: #56ab2f;
  }*/
  
  /* Стили для hero-секции */

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr; 
    gap: 10px; 
  }

.features, .colorbox {
    margin-left: 50px;
}

  .hero {
    width: 100%;
    
    background: url('/Users/user/Downloads/fon2.jpg') center center;
    background-size: cover;
   
    border-radius: 30px;
  }

  .features {
    margin-top: 10px;
    background: url('/Users/user/Downloads/fon2.jpg') center center;
    width: 100px;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Скрываем контент, выходящий за пределы блока */
  }
  .animated-element1 {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: url('moon.png') center center;
    animation: bounce 1s ease infinite;
  }
  /* Добавляем анимацию (animation) для features-секции */
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .animated-element {
    width: 100px;
    height: 100px;
    background: url('moon.png') center center;
    border-radius: 50px;
    position: relative;
    animation-name: slide;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    box-shadow: 5px 5px 5px rgb(239, 243, 1)
  }
  @keyframes slide {
    0% { left: 0%; transform: rotate(0deg);}
    100%{left: 92%; transform: rotate(360deg);}
  }

  .colorbox {
    margin-top: 10px;
    background: url('/Users/user/Downloads/fon2.jpg') center center;
    width: 100px;
    border-radius: 30px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Скрываем контент, выходящий за пределы блока */
  }
  .color {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px black;
    border:double;
    background-color: #3498db;
    position: relative;
    animation: changeColor 1s linear infinite; /* Используем анимацию с именем "changeColor" */
  }
  
  /* Анимация изменения цвета */
  @keyframes changeColor {
    0%, 100% {
      background-color: #3498db; /* Начальный и конечный цвет фона */
    }
    25% {
      background-color: #e74c3c; /* Промежуточный цвет фона */
    }
    50% {
      background-color: #f3cf05;
    }
    75% {
        background-color: #02fa23;
      }
  }
.block3, .block4 {
    margin-top: 10px;
    background: url('/Users/user/Downloads/fon2.jpg') center center;
    width: 100%;
    border-radius: 30px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, red, yellow, green);
    border: 3px solid #0a0a0a;
    border-radius: 30px;
    padding: 10px;
    margin: 50px;
    box-shadow: 8px 8px 5px #080808;
    transition: transform 0.3s; 
    overflow: hidden; 
    animation: rotate 2s linear infinite;
  } 
  @keyframes rotate {
    0%, 100% {
        transform: rotate(0deg); /* Начальный угол вращения (0 градусов) */
      }
      50% {
        transform: rotate(360deg); /* Конечный угол вращения (360 градусов) */
      }
    

  }

  .card1 {
    width: 650px;
    height: 150px;
    background-color: #a8a6a6;
    border: 3px dotted #0a0a0a;
    border-radius: 30px;
    padding: 10px;
    margin: 50px;
    box-shadow: 8px 8px 5px #080808;
    transition: transform 0.3s; 
    overflow: hidden; 
    
  }

  .block4 h2, p {
    animation: fadeInUp 2s ease infinite;
    font-weight: bold;

  }
  
  @keyframes fadeInUp {
    0% {
        transform: translateY(150%); 
      }
      50% {
        transform: translateY(0); 
      }
      100% {
        transform: translateY(-150%); 
      }
  }
  /*.features h2 {
    animation: bounce 2s ease infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }*/